{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CatFlix{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'text.css' %}">
    <script src="https://kit.fontawesome.com/e3c2b2dfa9.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
</body>
</html>
